<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label "Seu email" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Seu Nome" %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Seu Username" %><br />
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Tipo sanguíneo" %><br />
    <%= f.select :blood_type, collection: BloodType.to_a %>
    <br />
  </div>

  <div class="field">
    <%= f.label "Precisa de doação?" %><br />
    <%= f.check_box :needs_donation %>
    <br />
  </div>

  <div class="field">
    <%= f.label "Sobre" %><br />
    <%= f.text_area :about %>
    <br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nova senha" %> <i>(Deixe em branco caso não deseje alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Senha atual" %> <i>(Precisamos de sua senha atual para salvar suas modificações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", class: "btn btn-success" %>
  </div>
<% end %>
<h3>Deseja Cancelar sua conta? </h3>

<p><%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></p>
