<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Usuário" %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Tipo sanguíneo" %>
    <%= f.select :blood_type, collection: BloodType.to_a %>
  </div>

  <div class="field">
    <%= f.label "Digite sua senha" %>
    <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
