<div class="col-xs-12 col-sm-12 col-md-7">
  <div class="row jumbotron">
    <h3>
      Você doou sangue recentemente ?
      <br />
      <small>Junte-se a comunidade</small>
    </h3>
    <button class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-tint"></i> Informar Doação
    </button>
  </div>
  <% @last_donations.each do |donation| %>
    <%= render '/timeline/user_donation', donation: donation  %>
  <% end %>
</div>

<div class="col-xs-12 col-md-5">
  <div class="col-xs-12 alert alert-warning">
    <h3><i class="fa fa-lightbulb-o"></i> Você sabia ?</h3>
    <p><%= @tip.content.truncate(300) %>. </p>
  </div>
  <% @users_that_need_donation.each do |user| %>
    <div class="col-xs-12 row-new-users">
      <div class="media col-sm-12 ">
        <div class="media-left">
          <%= link_to gravatar_for(user, class: "media-object new-user img-circle"), user %>
            <span class="badge label-new-user"><%= user.blood_type_humanize %></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= user.at_username %></h4>
          Preciso de sua doação.
          <%= link_to "Ver mais", user, class: "btn btn-xs btn-default" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <% @donation = Donation.new %>
        <%= render 'donations/form' %>
      </div>
    </div>
</div>


