<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-tint"></i> Informar doação</h4>
</div>

<div class="modal-body row">
<%= form_for @donation do |f| %>
  <% if @donation.errors.any? %>
  <ul>
    <% @donation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="col-xs-12">
    <%= f.label "Lugar" %><br />
    <%= f.text_field :location, class: "form-control", "required": "required" %>
  </div>

  <div class="col-xs-12 quantidade_doacao">
    <div class="col-xs-10">
      <%= f.label "Quantidade" %>
      <%= f.range_field :amount,  min: '300', max: '500', step: '1', value:'350' %>
    </div>
    <div class="col-xs-2 quantity-view">
      <h4></h4>
    </div>
  </div>

  <div class="col-xs-12">
    <%= f.label "Quando" %>
    <%= f.text_field :donated_at, class: "form-control datepicker", "required": "required"  %>
  </div>

  <div class="col-xs-12">
    <%= f.label "Comentário" %>
    <%= f.text_area :comment, class: "form-control"%>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <%= f.submit "Cadastrar", class: "btn btn-danger" %>
  </div>
<% end %>

