<div class="row item-not">
  <div class="col-xs-12 col-sm-3">
    <%= link_to gravatar_for(@donation.user, class: "img-circle col-xs-12") %>
    <%= link_to(fa("trash"), destroy_donation_path(@donation)) if current_user == @donation.user %>
    <%= link_to(fa("twitter"), "https://twitter.com/intent/tweet?text=Eu doei #{@donation.amount} ml de sangue&hashtags=spreadblood", target: "_blank") if current_user == @donation.user %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <h4>
      <small> <%= datetime_ago(@donation.donated_at) %></small><br />
      <%= link_to @donation.user.at_username, @donation.user %>
      doou <b><%= "#{@donation.amount} ml" %></b> em <span class="place"><%= @donation.location %></span>
    </h4>
    <p><%= @donation.comment.truncate(100) %></p>
  </div>
  <div class="col-xs-12" style="padding:0px;height:20px">
  <%= fa "tint" %>
  </div>
</div>
<div class="row">
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'spreadtest';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
