<!DOCTYPE html>
<html>
<head>
  <title>SpreadBlood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'core', media: 'all' %>
  <%= javascript_include_tag 'core' %>
  <%= csrf_meta_tags %>
</head>
<body style="display:none">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span>
            <%= image_tag "images/drop.png", class: "logo" %>
            SPREAD <b>BLOOD</b>
          </span>
          </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise por doadores">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">FAQ</a></li>
          <% if signed_in? %>
            <li class="dropdown">
              <%= link_to gravatar_for(current_user, class: "img-circle img-logo-dashboard", "data-placement": "right") + fa('caret-down'), "#", class: "dropdown-toggle", "data-toggle": "dropdown"  %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to fa("edit", text: "Editar perfil"), edit_registration_path(:user)  %></li>
                <li class="divider"></li>
                <li><%= link_to fa("sign-out", text: "Sair"), destroy_session_path(:user)  %></li>
              </ul>
            </li>
           <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <% if signed_in? %>
    <div class="hidden-xs col-sm-3 col-md-2">
      <%= render '/layouts/navbar_left' %>
    </div>
  <% end %>
    <div class="col-xs-12 <%= "col-sm-9 col-md-10" if signed_in? %>">
      <%= yield %>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <%= image_tag "images/drop.png", class: "logo logo-footer" %>
    </div>
  </nav>
</body>
  <%= render'layouts/flash' %>
</html>
